.cabecalho{
    background-color: #283347;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#303c64,#6370ac);
    color: rgb(78, 144, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.esocola-conteudo{
  width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}
    .rodape{
     background-color: rgb(106, 125, 139);
    text-align: center;
}
    .rodape-imagem{
    height: 60px;
    padding: 12px 0;
}